! ## Enable a color supported XTerm ##
XTerm.termName: xterm-256color
!!!!!
XTerm.VT100.cursorBlink:true
!!!!

! ## Set xterm window size ##
XTerm*VT100.geometry: 136x62

! ## Set font and fontsize ##
XTerm*faceName: DejaVu Sans Mono
!Mono Sans
XTerm*faceSize: 13

! VT Font Menu: Unreadable
XTerm*faceSize1: 8
! VT Font Menu: Tiny
XTerm*faceSize2: 10
! VT Font Menu: Small
XTerm*faceSize3: 12
! VT Font Menu: Medium
XTerm*faceSize4: 16
! VT Font Menu: Large
XTerm*faceSize5: 22
! VT Font Menu: Huge
XTerm*faceSize6: 24

! ## Scrollbar ##
XTerm*vt100.scrollBar: false

! Do not scroll when there is new input
XTerm*scrollTtyOutput: false

! Scrolling by using Shift-PageUp / Shift-PageDown or mousewheel by default ##
! Lines of output you can scroll back over
XTerm*saveLines: 15000

! Enable copy/paste hotkeyes (mouse highlight = copy ,  shift+Insert = paste)
XTerm*selectToClipboard: true

! ## Select text ##
XTerm*highlightSelection: true
! Remove trailing spaces
XTerm*trimSelection: true

! ## Keybindings ##
XTerm*vt100.translations: #override \n\
  Ctrl <Key>-: smaller-vt-font() \n\
  Ctrl <Key>+: larger-vt-font() \n\
  Ctrl <Key>0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! ~~~~~~~~~~~~~~~~~~
! ## Color Themes ## 
! ~~~~~~~~~~~~~~~~~~
! golams high contrast theme 
XTerm*title: XTerm
XTerm*background:  #000000
XTerm*foreground:  #00ff00
xterm*cursorColor: #ff0000
! original #86a2b0
!XTerm*colorUL: #dfbdc4
!XTerm*underlineColor: #6e4b35

XTerm*color0  : #000000
XTerm*color8  : #000000

XTerm*color1  : #ff0000
XTerm*color9  : #ff0000

XTerm*color2  : #00ff00
XTerm*color10 : #00ff00


XTerm*color3  : #ffff00
XTerm*color11 : #ffff00

XTerm*color4  : #00fbff
XTerm*color12 : #00fbff

XTerm*color5  : #ff6ac1
XTerm*color13 : #ff6ac1

XTerm*color6  : #0905ff
XTerm*color14 : #0905ff

XTerm*color7  : #ffffff
XTerm*color15 : #ffffff
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!gihub
!# github colors for Kitty

!XTerm*background : #0d1117
!XTerm*foreground : #b3b1ad
!XTerm*cursorColor     : #73b7f2


!XTerm*color0  :#484f58
!XTerm*color1  :#ff7b72
!XTerm*color2  :#3fb950
!XTerm*color3  :#d29922
!XTerm*color4  :#58a6ff
!XTerm*color5  :#bc8cff
!XTerm*color6  :#39c5cf
!XTerm*color7  :#b1bac4

!XTerm*color8  :#6e7681
!XTerm*color9  :#ffa198
!XTerm*color10 :#56d364
!XTerm*color11 :#e3b341
!XTerm*color12 :#79c0ff
!XTerm*color13 :#d2a8ff
!XTerm*color14 :#56d4dd
!XTerm*color15 :#f0f6fc

!XTerm*color16 :#e3b341
!XTerm*color17 :#ffa198
!!!!!!!!!!!!!











!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! Hack the box
!XTerm*background:  #1a2332
!XTerm*foreground:  #a4b1cd
!XTerm*cursorColor: #313f55

!XTerm*color0:  #000000
!XTerm*color8:  #666666
!XTerm*color1:  #ff3e3e
!XTerm*color9:  #ff8484
!XTerm*color2:  #9fef00
!XTerm*color10: #c5f467
!XTerm*color3:  #ffaf00
!XTerm*color11: #ffcc5c
!XTerm*color4:  #004cff
!XTerm*color12: #5cb2ff
!XTerm*color5:  #9f00ff
!XTerm*color13: #c16cfa
!XTerm*color6:  #2ee7b6
!XTerm*color14: #5cecc6
!XTerm*color7:  #ffffff
!XTerm*color15: #ffffff






!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD)




Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96

st.font:         JetBrainsMono Nerd Font:style:medium:pixelsize=12

! window padding
st.borderpx: 0
*borderpx : 0

!- 0.1 to 0.9 = transparency
st.alpha: 1.0

*background: #181f21
*foreground: #dadada

! Black + DarkGrey
*color0:  #22292b
*color8:  #575e60

! DarkRed + Red
*color1:  #e06e6e
*color9:  #ef7d7d

! DarkGreen + Green
*color2:  #8ccf7e
*color10: #9bdead

! DarkYellow + Yellow
*color3:  #e5c76b
*color11: #f4d67a

! DarkBlue + Blue
*color4:  #67b0e8
*color12: #6cb5ed

! DarkMagenta + Magenta
*color5:  #c47fd5
*color13: #ce89df

! DarkCyan + Cyan
*color6:  #6da4cd
*color14: #67cbe7

! LightGrey + White
*color7:  #b3b9b8
*color15: #bdc3c2

